<div class="container body-content span=8 offset=2">
    <div class="well">
        <div>
            <h2>
                Your profile:
            </h2>
        </div>
        <div>
            <h3>
                Registered email:
                {{userMail}}
            </h3>
        </div>
        <div>
            <h3>
                Full name:
                {{userFullName}}
            </h3>
        </div>
    </div>
</div>